body {
  background-color: #292929;
}
.all {
  min-height: 100px;
  min-width: 100px;
  margin: 1rem;
}
.red {
  background-color: red;
  border-radius: 4px;
}
.blue {
  background-color: blue;
  border-radius: 4px;
}
.green {
  background-color: green;
  border-radius: 4px;
}
.results {
  display: flex;
  flex-wrap: wrap;
}
