@font-face {
  font-family: ProximaNova-Light;
  src: url(/fonts/ProximaNova-Light.ttf);
}

@font-face {
  font-family: ProximaNova-Bold;
  src: url(/fonts/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(/fonts/ProximaNova-Regular.ttf);
}

.menu-button {
  opacity: 0;
}

.modal-content {
  position: relative;
}

.btn-close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
}

.header {
  font-size: 13px;
  color: #fff;
  background: #000 url(/img/main/bg-main.png);
  background-size: cover;
  font-family: 'ProximaNova-Light';
  padding-bottom: 60px;
}

.header-container {
  text-align: center;
}

.header-top {
  padding: 20px 0;
}

.header-top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-contacts {
  text-align: right;
}

.header-top-contacts__number {
  font-size: 18px;
  margin-bottom: 5px;
  -webkit-transition: 100ms;
  transition: 100ms;
  color: #fff;
  text-decoration: none;
}

.header-top-contacts__number:hover {
  color: #00d1f9;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.header-top-contacts__order {
  cursor: pointer;
  color: #00d1f9;
  text-decoration: underline;
}

.header-top-contacts__order:hover {
  color: #fff;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.header-adress__text {
  text-align: left;
}

.header-mail a {
  -webkit-transition: 100ms;
  transition: 100ms;
  color: #fff;
}

.header-mail a:hover {
  color: #00d1f9;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.header-nav {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 0 11px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 100ms;
  transition: 100ms;
  color: #fff;
}

.header-nav__item:hover {
  color: #00d1f9;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.header-bottom {
  margin-top: 60px;
}

.header-bottom__icon {
  min-width: 30px;
}

.header-bottom__title {
  font-weight: normal;
  font-size: 36px;
  color: #fffafa;
}

.header-bottom__subtitle {
  margin-top: 55px;
  font-size: 20px;
  color: #fffafa;
}

.header-bottom-blocks {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  max-width: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin-bottom: 60px;
  text-align: left;
}

.header-bottom__icon {
  margin-right: 30px;
}

.header-bottom-form {
  background-color: #fff;
  padding: 35px;
  color: #000;
  text-align: center;
  margin: 0 12px;
}

.header-bottom-form-label {
  font-family: 'ProximaNova-Bold';
  margin-bottom: 28px;
  font-size: 18px;
  color: #000;
  margin-bottom: 28px;
}

.form-input {
  margin-bottom: 10px;
  padding: 16px 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-family: 'ProximaNova-Regular';
  color: #7c7c7c;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-textarea {
  margin-bottom: 23px;
}

.form-button {
  margin-bottom: 19px;
  padding: 19px 37px;
  -webkit-box-shadow: 0 6px 18px 0 rgba(28, 167, 173, 0.32);
          box-shadow: 0 6px 18px 0 rgba(28, 167, 173, 0.32);
  background-color: #23bac1;
  color: #fff;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  border: none;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.form-button:hover {
  color: #23bac1;
  background-color: #fff;
}

.form-small {
  font-family: 'ProximaNova-Regular';
  font-size: 11px;
  color: #7c7c7c;
}

.form-small div {
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.form-small div:hover {
  color: #00d1f9;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.menu-button {
  position: fixed;
  z-index: 20;
  width: 40px;
  height: 40px;
  background-color: #212529;
  border-radius: 35%;
  position: fixed;
  top: 10px;
  left: 10px;
  border: none;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-button:hover {
  background-color: #111111c0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-button__line {
  opacity: 1;
  background-color: #eeeeee77;
  margin: 6px auto;
  border: 1px solid #eeeeee77;
  width: 20px;
}

.menu-button__close {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 35%;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-button__close:hover {
  background-color: #111111c0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-button__close svg {
  color: #fff;
  min-height: 30px;
  min-width: 30px;
}

.offcanvas-body {
  color: #fff;
  background: #000 url(/img/main/bg-main.png);
  padding: 20px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'ProximaNova-Light';
}

.nav-menu__item {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.nav-menu__item:hover {
  color: #ffffffbe;
}

.nav-menu__item-last {
  border: none;
}

@media (max-width: 998px) {
  .menu-button {
    display: inline-block;
    opacity: 1;
  }
  .header-bottom__block {
    min-width: 350px;
  }
  .header-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .header-bottom__subtitle {
    margin-top: 20px;
  }
  .header-bottom-blocks {
    margin-top: 30px;
  }
  .header-nav {
    display: none;
  }
  .header-top-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-adress {
    margin-right: 0;
  }
  .header-bottom__text {
    max-width: 100%;
  }
  .header-bottom__block {
    max-width: 100%;
  }
  .header-bottom-form {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header-bottom-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-bottom__block {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
  }
  .header-bottom__block-last {
    border: none;
  }
}

@media (max-width: 576px) {
  .header-top-contacts__number {
    font-size: 14px;
  }
  .header-top-contacts__order {
    margin-top: 20px;
    font-size: 12px;
  }
  .header-bottom {
    margin-top: 0;
  }
  .header-bottom__title {
    font-size: 20px;
    color: #00d1f9;
  }
  .header-top__info {
    display: none;
  }
  .header-bottom__block {
    min-width: 100%;
  }
  .header-top-logo {
    margin: 0;
  }
  .header-top {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */